
@{
    ViewBag.Title = "ManageCarts";
    Layout = "~/Views/Shared/dash.cshtml";
}

<h2>Manage Carts</h2>

<table class="table">
    <thead>
        <tr>
            <th>Cart ID</th>
            <th>User</th>
            <th>Total Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cart in Model)
        {
<tr>
    <td>@cart.CartID</td>
    <td>@cart.User.Username</td>
    <td>@cart.TotalPrice</td>
    <td>
        @Html.ActionLink("View Items", "ViewCartItems", "CartItems", new { id = cart.CartID }, null) |
        @Html.ActionLink("Delete", "Delete", "ShoppingCarts", new { id = cart.CartID }, new { onclick = "return confirm('Are you sure you want to delete this cart?');" })
    </td>
</tr>}
    </tbody>
</table>
