@model IEnumerable<Bookshop1.Models.Book>

@{
    ViewBag.Title = "Books by Category";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-3">
                <div class="product-item">
                    <figure class="product-style">
                        <a href="@Url.Action("Details", "Books", new { id = book.BookID })" class="btn btn-primary">View Details</a>
                        <img src="@Url.Content(string.IsNullOrEmpty(book.ImagePath) ? "~/Images/placeholder.png" : book.ImagePath)" alt="Books" class="product-item">


                        <button type="button" class="add-to-cart" data-product-id="@book.BookID">
                            Add to Cart
                        </button>
                    </figure>
                    <figcaption>
                        <h3>@book.Title</h3>
                        <span>@book.Author</span>
                        <div class="item-price">@book.Price</div>
                    </figcaption>
                </div>
            </div>}
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).on('click', '.add-to-cart', function() {
        var productId = $(this).data('product-id');

        $.ajax({
            url: '@Url.Action("AddToCart", "Home")',
            type: 'POST',
            data: { id: productId },
            success: function(response) {
                if (response.success) {
                    // توجيه المستخدم إلى صفحة العربة
                    window.location.href = '@Url.Action("Index", "CartItems")';
                } else {
                    alert("Failed to add product to cart.");
                }
            },
            error: function() {
                alert("An error occurred.");
            }
        });
    });
</script>