@model Bookshop1.Models.CartItem

<h2>Are you sure you want to delete this item?</h2>
<p>
    Title: @Model.Title <br />
    Quantity: @Model.Quantity <br />
    Price: @Model.Price
</p>

@using (Html.BeginForm("DeleteConfirmed", "CartItems", new { id = Model.CartItemID }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Yes, delete it</button>
    @Html.ActionLink("No, take me back", "Index", null, new { @class = "btn btn-secondary" })
}